body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  color: #344861;
}

.relleno{
  background-color: #344861;
}

.square:focus {
  outline: none;
}

.board {
  display: grid;
}

.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.rowClues {
  display: grid;
}

.colClues {
  display: grid;
}

.clue {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeef8;
  /*background: #b9d6e0;*/
  border-radius: 8px;
  margin: 5px;
}

.clue div {
  margin: 2px
}

.colClues .clue {
  flex-direction: column;
}

.sat {
  background-color: #d1ff8a;
}

.game {
  display: flex;
  flex-direction: row;
}

.gameInfo {
  margin-left: 20px;
  margin-top: 70px;
  font-weight: bold;
}

.radio{
  color: #344861;
  font-size: 18px;
  font-weight: bold;
}

.selectorOpcion{
  width: 50px;
  margin-left: 55px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.global{
  display: flex;
  flex-direction: column;
}